html {
  box-sizing: border-box;
  word-spacing: 2px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  background: #F7F7F7;
  color: #0e0e0e;
  margin: 0;
}

p{
	font-size: 15px;
}

a{
	text-decoration: none;
	color: #1c1c1a;
	font-size: 14px;
}

h1{
	text-transform: uppercase;
	color: #10100e;
	font-size: 34px;
	margin: 20px 0;
}

h3{
	text-transform: uppercase;
	font-size: 18px;
	
	display:inline-block;
  position:relative;
}

h3::after{
	content:'';
  height:1px;
  width:50%;
  background: #ffa700;
  position:absolute;
  left: 0;
  bottom:-3px;
}

h4{
	text-transform: uppercase;
	font-size: 15px;
	margin: 0;
}

h5{
	margin: 0;
	text-transform: uppercase;
}

.f-dev{
	text-transform: uppercase;
	font-size: 18px;
	color: #ffa700;

}

.avatar {
	margin-right: 20px;
	width: 20%;
	height: 30%;
	
}

.resume-wrap, header, section {
	position: relative;
}

.resume-wrap{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-width: 960px;
	background: #f8f8f8;
	margin: 50px auto 0;
	padding: 50px;
	box-sizing: border-box;
}

.flex-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	
}
 
.education-grid-container, 
.experience-grid-container {
  display: grid;
  grid-template-columns: 30% auto;
}

.grid-container {
	display: grid;
  grid-template-columns: 20% auto 75%;
  grid-column-gap: 30px;
}

.lang-grid-container, .social-grid-container {
	display: grid;
  grid-template-columns: auto auto auto;
}

.vertical-line {
	width: 1px;
	height: 100%;
	background: #ccc;
}

.top-line {
	width: 600px;
	height: 1px;
	background: #ccc;
}

.top-line-content {
	width: 600px;
	height: 1px;
	background: #ccc;
}

.title-name {
	margin-top: 35px;
}

/*.triangle-topright {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: 400px solid #1c1c1a; 
	border-left: 400px solid transparent;
	
}*/

.experience-date{
	font-size: 14px; 
	font-weight: bold;
}

